<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%HOME%\site\wwwroot" />
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="WSGI_LOG" value="%HOME%\LogFiles\wfastcgi.log" />
    <add key="SCM_DO_BUILD_DURING_DEPLOYMENT" value="true" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%HOME%\python\python.exe|%HOME%\python\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <clear />
        <add value="run.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>